.DS_Store

/Sileo.xcodeproj/xcuserdata/
/Sileo.xcodeproj/project.xcworkspace/xcuserdata/
/build/
/.vscode/
/.idea/
/.theos/

/giveMeRoot/bin/
/packages/

.serena
outputs
docs/plans

docs/requirements

.vibeskills
docs/analysis
